
# CLI tool, only in development environment.
# https://goframe.org/pages/viewpage.action?pageId=3673173
gfcli:
  docker:
    build: "-a amd64 -s linux -p temp -ew"
    tagPrefixes:
      - my.image.pub/my-app
  gen:
    dao:
#      - link: "pgsql:postgres:root@tcp(127.0.0.1:5432)/postgres"
      - link: "mysql:root:root@tcp(127.0.0.1:3306)/chat_history"
        descriptionTag: true